.section-item {
  box-shadow: 1px 1px 3px 0 rgba($gray-bg, 0.3),
    inset 3px 5px 3px -3px rgba(white, 0.2);
  display: flex;
  flex-grow: 0;
  background-color: darken($background-1, 2%);
  border-radius: $box-radius - 3px;
  justify-content: center;
  transition: box-shadow 0.1s linear;
}

.section-item:hover {
  box-shadow: 0 0 1px rgba($gray-bg, 1), inset 2px 2px 3px -4px rgba(white, 0.3);
}

.link {
  display: flex;
  width: 100px;
  padding: 15px 10px 10px 10px;
  height: 115px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.link img {
  height: 45px;
}
.link h4 {
  color: $fg-1;
  margin: 0;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
}

.section-item.active {
  background-color: darken($color: $background-1, $amount: 8%);
  box-shadow: inset -2px -2px 1px rgba(231, 237, 255, 0.4),
    inset 2px 2px 3px darken($color: $background-1, $amount: 25%);
}
