.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $background-2;
}

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
}

.MuiTableRow-root {
  height: 10px;
}
