header {
  display: flex;
  align-items: center;

  margin: 6px 20px 0 20px;
  border-radius: 6px;
  background-color: #fff;
  padding: 8px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  height: 50px;
  flex-basis: 10px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.search-bar {
  flex-grow: 1;
  flex-basis: 300px;
}
